<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UP</title>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/about.css">
</head>
<body>
    <div id="container">
    <header>
        <div id="logo"><h1><a href="../index.html">UP</a></h1></div>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../views/contact.html">Contato</a></li>
                <li><a href="#">Sobre nós</a></li>
            </ul>
        </nav>
    </header>
    <main id="main">
        <!--AQUI VAI FICAR O CONTEUDO-->
        <h1>Nossa história</h1>
        <h2>O início</h2>
        <p>Há duas décadas, em uma pequena sala nos arredores de uma cidade costeira, nasceu a “UP Airlines”. Fundada por um grupo de entusiastas da aviação, a empresa tinha um objetivo claro: tornar o céu mais acessível para todos.</p>
        <h2>O Primeiro Voo</h2>
        <p>Em um dia ensolarado de primavera, a “UP” realizou seu primeiro voo comercial. O avião, um modesto turboélice, decolou com apenas alguns passageiros a bordo. Mas aquele momento marcou o início de uma jornada extraordinária.</p>
        <h2>Crescimento e Desafios</h2>
        <p>Com o passar dos anos, a “UP” expandiu sua frota e adicionou rotas para destinos exóticos e cidades movimentadas. No entanto, o caminho não foi fácil. Desafios como crises econômicas, mudanças regulatórias e até mesmo uma inundação testaram a resiliência da companhia.</p>
        <h2>Valores e Cultura</h2>
        <ul id="values">
            <li><strong>Segurança em Primeiro Lugar:</strong> Nenhum compromisso com a segurança dos passageiros e tripulação.</li>
            <li><strong>Conexões Humanas:</strong> Voar não é apenas sobre distâncias; é sobre conectar pessoas, histórias e sonhos.</li>
            <li><strong>Inovação Sustentável:</strong> Buscamos constantemente maneiras de reduzir nosso impacto ambiental.</li>
        </ul>
        <h2>Hoje e Além</h2>
        <p>Hoje, a “UP Airlines” é uma das principais companhias aéreas do mundo. Nossos aviões cruzam oceanos, levando sonhos, negócios e aventuras aos quatro cantos do globo. E, à medida que olhamos para o futuro, continuamos a voar com paixão e determinação.</p>
        <h4>Bem-vindo(a) a bordo da “UP”! 🛫✈️</h3>
    
    
    </main >


    
    
    </div>
    <footer id="footer">
        <p>
            <a href="../index.html">Home</a>
            <a href="#">Sobre nós</a>
            <a href="../views/contact.html">Contatos</a>
        </p>
        <p>2024 <a href="../index.html">UP</a> - Todos os direitos reservados &copy;</p>
    </footer>


    <!--Mudar o link do js-->
    <script src="../js/travels.js"></script>
</body>
</html>