<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UP</title>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/contact.css">
</head>
<body>
    <div id="container">
    <header>
        <div id="logo"><h1><a href="../index.html">UP</a></h1></div>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="../views/about.html">Sobre nós</a></li>
            </ul>
        </nav>
    </header>
    <main id="main">
        <h1>Contato</h1>
        <form id="form">
            <h2>Digite seu nome: </h2>
            <input type="text" placeholder="João Rodrigues">
            <h2>Digite seu email: </h2>
            <input type="email" placeholder="exemplo@hotmail.com">
            <h2>Digite sua mensagem: </h2>
            <input type="text" placeholder="Motivo de querer entrar em contato">            
            <button type="button" onclick="confirmMessage()" id="submit">Confirmar</button>
        </form>
    </main >


    
    
    </div>
    <footer id="footer">
        <p>
            <a href="../index.html">Home</a>
            <a href="../views/about.html">Sobre nós</a>
            <a href="#">Contatos</a>
        </p>
        <p>2024 <a href="../index.html">UP</a> - Todos os direitos reservados &copy;</p>
    </footer>



    <!--Mudar o link do js-->
    <script src="../js/contact.js"></script>
</body>
</html>